.btn-space {
    margin-right: 10px;
}

.logOutbutton{
    position: 'absolute';
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
  }

